body {
    margin-top: 20px;
}

#map {
    background: #eee;
    height: 160px;
}
.btn {
    margin-bottom: 5px;
}
.tweet img {
    border-radius: 5px;
}

.tweet { 
    border-top: 1px solid #eee;
    padding: 6px 0;
    overflow: hidden;
}
.tweet .avatar {
    float: left;
    width: 72px;
}
.tweet .text {
    margin-left: 72px;
    margin-right: 72px;
    padding: 0 6px;
}
.tweet .button {
    float: right;
    width: 72px;
}

.container-fluid {
    max-width: 1000px;
    margin: 0 auto;
}
.highlight {
    background-color: #FCF8E3;
}
.mute {
    color: #eee;
}

.error {
    color: red;
}
.jumbo {
    text-align: center;
    font-size: 20px;
}
.jumbo h1 {
    font-size: 60px;
    line-height:120px;
}
.jumbo .description p {
    font-size: 20px;
    margin-bottom: 20px;
}
.privacy {
    margin-top: 50px;
    color: #888; 
}
.geo {
    display: none;
}
@media (max-width: 480px) {
    .hidden-phone-inline {
        display: none;
    }
}

/* LITTLE SCREENS */
@media (max-width: 767px) {
    #map {
        height: 160px;
        margin-left: -6px;
        margin-right: -6px;
    }
    body {
        margin-top: 0;
        padding: 0;
    }
    .tweet .avatar {
        float: none;
        margin-bottom: 6px;
    }
    .tweet .button {
        float: none;
    }
    .tweet .controls {
        float: left;
    }
    .tweet .text {
        margin-right: 0;
    }
    .container-fluid {
        padding: 0 6px;
    }
}

/* TABLET & DESKTOP */
@media (min-width: 768px) {
    .map-container {
        position: fixed;
        width: 100%;
        pointer-events: none;
    }
    #map {
        height: 300px;
    }
    .pointer-events { 
        pointer-events: auto;
    }
    .tweet { 
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


